@font-face {
  font-family: 'DM-Sans';
  src: url('font/DMSans-Regular.ttf') format("truetype");
  font-weight: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DM-Sans_Bold';
  src: url('font/DMSans-Bold.ttf') format("truetype");
  font-weight: normal;
  font-weight: normal;
}

* {
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: black;
  padding: 5px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1440px;
  margin: auto;
  align-items: center;
}

.logo_footer, .links, .contact, .text_footer  {
  width: 33.33%;
}

.links, .img_social {
  margin-top: 20px;
}

.links {
  display: flex;
  font-family: 'DM-Sans_Bold';
  justify-content: center;
}

.links p {
  padding-left: 15px;
  padding-right: 15px;
}

.contact {
  display: flex;
  justify-content: flex-end;
}

.contact img {
  margin-left: 15px;
}

.text_footer {
  text-align: center;
  font-family: 'DM-Sans';
  margin: auto;
}

.links_mobile{
  display: none;

}


@media (max-width: 750px) {
  .links{
    display:none;
  }
  .links_mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;

  }
  .container{
    margin-top: 10px;
  }
  .text_footer{
    width: 100%;
  }
}